 <div class="container">
   <div class="row" style="padding: 10px;padding-left:15px;">
       <div class="panel panel-default">
         <div class="panel-heading" style="background: #cd665f; color: #fff; font-size:14px;">Our Products Categories</div>
           <div class="panel-body" style="background: #eeeeee;">
              <% @categories.each_slice(4) do |group| %>
              <div class="row">
                <% group.each do |category| %>
                <div class="col-md-3" style="margin-bottom: 10px;">
                <% headshot = category.category_pictures.where("image_type='headshot'").first %>
                <% if headshot && headshot.picture %>
                <%= image_tag headshot.picture.url, :size => "200x200" %>
                <% end %>
                <%= link_to category.name, category_path(category) %>
                </div>
                <% end %>
              </div>
              <% end %>
           </div>
        </div>
    </div>
  </div>
