<div class="container">
  <div class="row" style="padding: 10px;padding-left:15px;">
      <div class="panel panel-default">
         <div class="panel-heading" style="background: #cd665f; color: #fff; font-size:14px;">About Us</div>
         <div class="panel-body" style="background: #eeeeee;">
           <%= @about_us.html_safe if @about_us %>
         </div>
      </div>
   </div>
</div>
