            <div class="panel-heading" style="background:#58595b; color:#fff">
              <%= t('menus.company_and_contact') %></i>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <%= @about_us.html_safe if @about_us %>
              </ul>
            </div>