<style type="text/css">
  .simple_captcha
  .simple_captcha,
  .simple_captcha div{display: table;}
  .simple_captcha .simple_captcha_field,
  .simple_captcha .simple_captcha_image{
    border: 1px solid #ccc;
    margin: 0px 0px 2px 0px !important;
    padding: 0px !important;
  }
  .simple_captcha .simple_captcha_image img{
    margin: 0px !important;
    padding: 0px !important;
    width: 110px !important;
  }
  .simple_captcha .simple_captcha_label{font-size: 12px;}
  .simple_captcha input{
    width: 150px !important;
    font-size: 16px;
    border: none;
    height: 34px;
    background-color:#ffffff;
    font-size:14px;
    padding:6px 12px;
    border:1px solid #ccc;
    border-radius:4px;
  }
</style>

<div class='simple_captcha'>
  <%= simple_captcha_options[:field] %> <%= simple_captcha_options[:image] %> <%= simple_captcha_options[:refresh_button] %>
</div>
<script>
  $(".simple_captcha a").addClass("btn btn-primary btn-sm");
</script>
