<div class="container">
  <div class="row" style="padding:10px; padding-left: 15px;padding-top:1px">
    <div class="panel panel-default">
         <div class="panel-heading" style="background: #cd665f; color: #fff; font-size:13px;"><%= @news.name %></div>
         <div class="panel-body" style="background: #ffffff;">
           <%= @news.description.html_safe if @news.description %>
         </div>
    </div>
  </div>
</div>
