<div class="container">
  <div class="row" style="padding:10px; padding-left: 15px;">
    <div class="panel panel-default">
         <div class="panel-heading" style="background: #cd665f; color: #fff; font-size:14px;"><%= @material_item.full_name %></div>
         <div class="panel-body" style="background: #eeeeee;">
           <%= @material_item.description.html_safe if @material_item.description %>
         </div>
    </div>
  </div>
</div>
