 <div class="container">
    <% @features.each do |f| %>
   <div class="row" style="padding: 10px;padding-left:15px;">
       <div class="panel panel-default" style="margin-bottom: 5px;">
         <div class="panel-heading" style="background: #cd665f; color: #fff; font-size:14px;"><%= f.name %></div>
           <div class="panel-body" style="background: #eeeeee;">
             <% f.products.each_slice(6) do |group| %>
                <div class="row">
                     <% group.each do |product| %>
                      <div class="col-md-2">
                        <div class="thumbnail" style="border:0px;">
                        <% pic = product.pictures.first %>
                            <% if pic %>
                            <%= image_tag pic.url, :style=> "margin-left:0px;", :size => "150x150" %>
                            <% end %>
                        </div>
                        <h3 style="font-size:12px;"><%= product.name %></h3>
                      </div>
                      <% end %>
                  </div>
            <% end %>
         </div>
   </div>
   </div>
   <% end %>

</div>