<div class="container">
  <div class="row" style="padding: 10px;padding-left:15px;padding-top:1px">
      <div class="panel panel-default">
         <div class="panel-heading" style="background: #cd665f; color: #fff; font-size:13px;">Q & C</div>
         <div class="panel-body" style="background: #ffffff;">
           <%= @qc.html_safe if @qc %>
         </div>
      </div>
   </div>
</div>

